// Couleurs principales
$amp-gris: #686869;
$amp-turquoise: #00aab9;
$amp-vert1: #b1cb23;
$amp-jaune: #ffd700;
$amp-vert2: #b9ce27;

// Couleurs secondaires
$amp-gris-sombre: #4b4b4b;
$amp-gris-moyen1: #b1b1b2;
$amp-gris-moyen2: #e4e4e4;
$amp-gris-clair: #f1f1f2;
$amp-jaune-clair: #fffde5;

// Couleur tertiaires
$amp-bleu-nuit: #0d5874;
$amp-bleu-poudre: #a7d6ec;
$amp-vert-aqua: #4fac9d;
$amp-vert-tendre: #b7d8c7;
$amp-lime: #f1f1c1;
